#Options All -Indexes

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule .* index.php

php_value max_input_vars "1000"
php_value max_input_time "-1"
php_value max_file_uploads "100"